name: Library Release

on:
  push:

jobs:
  publish:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Extract version
        id: vars
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          
      - name: Build & publish to GitHub Packages
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          mvn \
            -s .github/maven-settings.xml \
            -Drevision=${{ steps.vars.outputs.version }} \
            clean deploy
